In [21]:
% matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn import tree

In [2]:
# wczytanie zestawu danych
from sklearn import datasets
iris = datasets.load_iris()

data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [3]:

# rozbicie zestawu danych na dane opisujące kwiat (X) i etykietę klasy (y)
y = data['species']
X = data.drop('species', axis = 1)

# stworzenie drzewa klasyfikacyjnego
t = tree.DecisionTreeClassifier()
t = t.fit(X, y)

In [4]:

# zapisanie drzewa klasyfikacyjnego do pliku .dot
# plik ten można przekształcić do pliku .pdf za pomocą programu graphviz używając polecenia:
#   dot -Tpdf iris.dot -o iris.pdf

with open("D:\\iris.dot", "w") as f:
    tree.export_graphviz(t, out_file=f, feature_names=X.columns)

In [5]:
t.score(X, y)

1.0

In [6]:
data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['species']
X = data_train.drop('species', axis = 1)


t = tree.DecisionTreeClassifier()
t = t.fit(X, y)

print t.score(X, y)

y = data_test['species']
X = data_test.drop('species', axis = 1)

print t.score(X, y)

1.0
0.963636363636

In [7]:
# wczytanie zestawu danych z pliku
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
# usunięcie z zestawu danych atrybutów nieistotnych dla klasyfikacji
data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1)
data = data.dropna() #usuwanie tych danych gdzie czegos brakuje
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [9]:
# zmiana kodowania atrybutów nominalnych w zestawie danych
data['Sex'] = pd.Categorical.from_array(data['Sex']).codes
data['Embarked'] = pd.Categorical.from_array(data['Embarked']).codes
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [10]:
# rozbicie zestawu danych na dane opisujące pasażera (X) i etykietę klasy (y)
y = data['Survived']
X = data.drop('Survived', axis = 1)

# stworzenie drzewa klasyfikacyjnego
t1 = tree.DecisionTreeClassifier(max_depth=2)
#stosuje giniego
t1 = t1.fit(X, y)

t2 = tree.DecisionTreeClassifier(max_depth=2,criterion='entropy')
#stosuje entropy
t2 = t2.fit(X, y)

In [11]:
# zapisanie drzewa klasyfikacyjnego do pliku .dot
# plik ten można przekształcić do pliku .pdf za pomocą programu graphviz używając polecenia:
#   dot -Tpdf titanic.dot -o titanic.pdf

with open("titanic1.dot", "w") as f:
    tree.export_graphviz(t1, out_file=f, feature_names=X.columns)
with open("titanic2.dot", "w") as f:
    tree.export_graphviz(t2, out_file=f, feature_names=X.columns)

In [12]:

# ocena stworzonego klasyfikatora na danych uczących
t1.score(X, y)

0.8019662921348315

In [13]:
data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['Survived']
X = data_train.drop('Survived', axis = 1)


t1 = tree.DecisionTreeClassifier(max_depth=2)
t1 = t1.fit(X, y)
t2 = tree.DecisionTreeClassifier(max_depth=2, criterion='entropy')
t2 = t2.fit(X, y)

print t1.score(X, y)
print t2.score(X, y)

y = data_test['Survived']
X = data_test.drop('Survived', axis = 1)

print t1.score(X, y)
print t2.score(X, y)

0.79302832244
0.79302832244
0.786561264822
0.786561264822

In [14]:
data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['Survived']
X = data_train.drop('Survived', axis = 1)


t1 = tree.DecisionTreeClassifier(max_depth=4, max_leaf_nodes=7, min_samples_leaf=40, min_samples_split=100)
t1 = t1.fit(X, y)

print t1.score(X, y)

y = data_test['Survived']
X = data_test.drop('Survived', axis = 1)

print t1.score(X, y)

0.77850877193
0.8125

In [15]:
with open("titanic3.dot", "w") as f:
    tree.export_graphviz(t1, out_file=f, feature_names=X.columns)

In [19]:
#przed usunieciem cech
def calculate_cnf(data,feature,cls,y = []):
    data['train'] = np.random.uniform(0, 1, len(data))

    data_train = data[data['train'] <= 0.65]
    data_test = data[data['train'] > 0.65]

    if( len(y) ==  0 ):
        y_train = data_train[feature]
        y_test = data_test[feature]
        X_train = data_train.drop(feature, axis = 1)
        X_test = data_test.drop(feature, axis = 1)
    else:
        y_train = y[data['train'] <= 0.65]
        y_test = y[data['train'] > 0.65]
        X_train = data_train
        X_test = data_test

    y_pred = cls.fit(X_train, y_train).predict(X_test)
    cnf_matrix = confusion_matrix(y_test, y_pred)
    return cnf_matrix, cls.score(X_test,y_test)

In [17]:
def crossValidation(data,feature,random,t):
    suma = 0
    for i in range(10):
        data_train = data[(random <= ((i+1)*0.1)) & (random > (i*0.1))]
        y = data_train[feature]
        X = data_train.drop(feature, axis = 1)
        t.fit(X, y)
        data_train = data[(random > ((i+1)*0.1)) | (random <= (i*0.1))]
        y = data_train[feature]
        X = data_train.drop(feature, axis = 1)
        suma += t.score(X, y)
    return suma / 10

In [22]:
size = data.shape[0]
arr = np.arange(size)
np.random.shuffle(arr)
n = int(size / 10)
random = np.random.uniform(0, 1, size)


print crossValidation(data,'Survived',random,tree.DecisionTreeClassifier(max_depth=4, max_leaf_nodes=7, min_samples_leaf=40, min_samples_split=100))
print calculate_cnf(data,'Survived',tree.DecisionTreeClassifier(max_depth=4, max_leaf_nodes=7, min_samples_leaf=40, min_samples_split=100))
print crossValidation(data,'Survived',random,tree.DecisionTreeClassifier(max_depth=2, criterion='entropy'))
print calculate_cnf(data,'Survived',tree.DecisionTreeClassifier(max_depth=2, criterion='entropy'))
print crossValidation(data,'Survived',random,tree.DecisionTreeClassifier(max_depth=3))
print calculate_cnf(data,'Survived',tree.DecisionTreeClassifier(max_depth=3))
print crossValidation(data,'Survived',random,tree.DecisionTreeClassifier())
print calculate_cnf(data,'Survived',tree.DecisionTreeClassifier())

0.595499667367
(array([[155,   5],
       [ 57,  56]]), 0.77289377289377292)
0.741798892132
(array([[134,  11],
       [ 41,  54]]), 0.78333333333333333)
0.749688292288
(array([[128,  20],
       [ 30,  62]]), 0.79166666666666663)
0.71023501146
(array([[123,  17],
       [ 44,  51]]), 0.74042553191489358)

In [133]:
from sklearn import datasets, linear_model
from sklearn import cross_validation, svm
X = data.drop('Survived', axis = 1)
y = data['Survived']

clf = tree.DecisionTreeClassifier(max_depth=4, max_leaf_nodes=7, min_samples_leaf=40, min_samples_split=100)
scores = cross_validation.cross_val_score(clf, X, y, cv=10)
print scores.mean()
clf = tree.DecisionTreeClassifier(max_depth=2, criterion='entropy')
scores = cross_validation.cross_val_score(clf, X, y, cv=10)
print scores.mean()
clf = tree.DecisionTreeClassifier(max_depth=3)
scores = cross_validation.cross_val_score(clf, X, y, cv=10)
print scores.mean()
clf = tree.DecisionTreeClassifier()
scores = cross_validation.cross_val_score(clf, X, y, cv=10)
print scores.mean()

0.790809859155
0.783884976526
0.792278672032
0.747322825844