In [1]:
% matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import tree

In [2]:
# wczytanie zestawu danych
from sklearn import datasets
iris = datasets.load_iris()

data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [3]:

# rozbicie zestawu danych na dane opisujące kwiat (X) i etykietę klasy (y)
y = data['species']
X = data.drop('species', axis = 1)

# stworzenie drzewa klasyfikacyjnego
t = tree.DecisionTreeClassifier()
t = t.fit(X, y)

In [4]:

# zapisanie drzewa klasyfikacyjnego do pliku .dot
# plik ten można przekształcić do pliku .pdf za pomocą programu graphviz używając polecenia:
#   dot -Tpdf iris.dot -o iris.pdf

with open("D:\\iris.dot", "w") as f:
    tree.export_graphviz(t, out_file=f, feature_names=X.columns)

In [5]:
t.score(X, y)

1.0

In [13]:
data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['species']
X = data_train.drop('species', axis = 1)


t = tree.DecisionTreeClassifier()
t = t.fit(X, y)

print t.score(X, y)

y = data_test['species']
X = data_test.drop('species', axis = 1)

print t.score(X, y)

1.0
0.934782608696

In [18]:
# wczytanie zestawu danych z pliku
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
# usunięcie z zestawu danych atrybutów nieistotnych dla klasyfikacji
data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1)
data = data.dropna() #usuwanie tych danych gdzie czegos brakuje
data.head()

ValueError: labels ['PassengerId' 'Name' 'Ticket' 'Cabin'] not contained in axis

In [20]:
# zmiana kodowania atrybutów nominalnych w zestawie danych
data['Sex'] = pd.Categorical.from_array(data['Sex']).codes
data['Embarked'] = pd.Categorical.from_array(data['Embarked']).codes
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [63]:
# rozbicie zestawu danych na dane opisujące pasażera (X) i etykietę klasy (y)
y = data['Survived']
X = data.drop('Survived', axis = 1)

# stworzenie drzewa klasyfikacyjnego
t1 = tree.DecisionTreeClassifier(max_depth=2)
#stosuje giniego
t1 = t1.fit(X, y)

t2 = tree.DecisionTreeClassifier(max_depth=2,criterion='entropy')
#stosuje entropy
t2 = t2.fit(X, y)

In [64]:
# zapisanie drzewa klasyfikacyjnego do pliku .dot
# plik ten można przekształcić do pliku .pdf za pomocą programu graphviz używając polecenia:
#   dot -Tpdf titanic.dot -o titanic.pdf

with open("titanic1.dot", "w") as f:
    tree.export_graphviz(t1, out_file=f, feature_names=X.columns)
with open("titanic2.dot", "w") as f:
    tree.export_graphviz(t2, out_file=f, feature_names=X.columns)

In [65]:

# ocena stworzonego klasyfikatora na danych uczących
t1.score(X, y)

0.8019662921348315

In [55]:
data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['Survived']
X = data_train.drop('Survived', axis = 1)


t1 = tree.DecisionTreeClassifier(max_depth=2)
t1 = t1.fit(X, y)
t2 = tree.DecisionTreeClassifier(max_depth=2, criterion='entropy')
t2 = t2.fit(X, y)

print t1.score(X, y)
print t2.score(X, y)

y = data_test['Survived']
X = data_test.drop('Survived', axis = 1)

print t1.score(X, y)
print t2.score(X, y)

0.8
0.8
0.772727272727
0.772727272727

In [73]:
data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['Survived']
X = data_train.drop('Survived', axis = 1)


t1 = tree.DecisionTreeClassifier(max_depth=4, max_leaf_nodes=7, min_samples_leaf=40, min_samples_split=100)
t1 = t1.fit(X, y)

print t1.score(X, y)

y = data_test['Survived']
X = data_test.drop('Survived', axis = 1)

print t1.score(X, y)

0.805273833671
0.75799086758

In [74]:
with open("titanic3.dot", "w") as f:
    tree.export_graphviz(t1, out_file=f, feature_names=X.columns)

In [91]:
def crossValidation(data,feature,random,t):
    for i in range(10):
        data_train = data[(random <= ((i+1)*0.1)) & (random) > (i*0.1))]
        y = data_train[feature]
        X = data_train.drop(feature, axis = 1)
        t.fit(X, y)
        data_train = data[(random > ((i+1)*0.1)) | (random <= (i*0.1))]
        y = data_train[feature]
        X = data_train.drop(feature, axis = 1)
        suma += t.score(X, y)
    return suma / 10

In [92]:
L = data.shape[0]
tablica = np.arange(L)
np.random.shuffle(tablica)
j = int(L / 10)
suma = 0
data['train'] = np.random.uniform(0, 1, len(data))


print crossValidation(data,'Survived',data['train'],tree.DecisionTreeClassifier(max_depth=4, max_leaf_nodes=7, min_samples_leaf=40, min_samples_split=100))
print crossValidation(data,'Survived',data['train'],tree.DecisionTreeClassifier(max_depth=2, criterion='entropy'))

0.694986687735